doctype html
html(lang="zh-Hant" class="no-js")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="format-detection" content="telephone=no")
		meta(name="description" content="梅斐國際有限公司,成立於2013年，為一家兩岸三地的國際貿易公司。在大陸有上達百家的衛星工廠,提供ODM、OEM的服務，從設計、開發、打樣、生產等一條龍服務。旗下品牌包括：梅斐商業燈光設計，天光照明，樂飲酒器，樂居不銹鋼生活精品，FERROLUCE 義大利進口陶瓷燈飾。")
		meta(name="keywords" content="梅斐國際, 傢俱, 燈飾, 生活精品, 燈光設計, 照明設計, 進口陶瓷燈飾")
		meta(name="Author" content="Mayfaire International Co., Ltd.")
		= '\n'
		meta(property="og:title" content="質感家居生活，梅斐為你實現")
		meta(property="og:type" content="website")
		meta(property="og:site_name" content="梅斐國際有限公司")
		meta(property="og:url" content="https://www.mayfaire.com.tw/")
		meta(property="og:image" content="https://www.mayfaire.com.tw/images/fbshare.jpg")
		meta(property="og:description" content="梅斐國際有限公司,成立於2013年，為一家兩岸三地的國際貿易公司。在大陸有上達百家的衛星工廠,提供ODM、OEM的服務，從設計、開發、打樣、生產等一條龍服務。旗下品牌包括：梅斐商業燈光設計，天光照明，樂飲酒器，樂居不銹鋼生活精品，FERROLUCE 義大利進口陶瓷燈飾。")
		= '\n'
		link(rel="shortcut icon" href="images/favicon.svg")
		link(rel="icon" href="images/favicon.svg")
		link(rel="apple-touch-icon" href="images/favicon.svg")
		title 質感家居生活，梅斐為你實現
		link(rel="stylesheet" href="css/xueMain.css")
		link(rel="manifest" href="manifest.json")
		script. 
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-PDTN4XW');
		= '\n'

	body
		noscript
			iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-PDTN4XW"
			height="0" width="0" style="display:none;visibility:hidden")
		= '\n'	

		#wrap
			header
				//- 頂端列 
				#hdr-main
					h1
						a.hvr-grow(href='index.html', title='返回首頁') 梅斐國際 Mayfaire
					= '\n'

					//- 主選單
					nav#main-nav
						ul
							li.hvr-grow.nowin
								a(href="index.html" title="首頁") 首頁
							li.hvr-grow
								a(href="tw/about.html" title="關於梅斐") 關於梅斐
							li.hvr-grow
								a(href="tw/lighting.html" title="產品介紹") 產品介紹
								ul
									li
											a(href="tw/lighting.html" title="燈具") 燈具
									li
											a(href="tw/furniture.html" title="傢俱") 傢俱
									li
											a(href="tw/lifestyle.html" title="生活精品") 生活精品
							li.hvr-grow
								a(href="tw/contact.html" title="聯絡我們") 聯絡我們

					//- 語系選單
					ul#box_lang
						li
							i.fal.fa-globe
						li.nowlang
							a(href="index.html" title="現在是中文版網站") 中文
						li
							a(href="index-en.html" title="前往英文版網站") EN
					
					//- 行動版選單按鈕
					#box_mobilenav
						a(href="#MobileNav" class="btn_mobilenav") 網站選單
			= '\n'

			//- 主要內容區塊
			main#container(style="min-height:1000px; background: #e1e1e1;")

			//- 主要內容區塊結束
		= '\n' 
		
		//- 版權列
		footer
			h3 梅斐國際有限公司 Mayfairee
			p &copy; Mayfaire International Co., Ltd., All rights reserved.
		= '\n'

		//- 行動版選單
		#MobileNav.lightbox-target
			ul.content
				li
					a(href='tw/about.html', title='關於梅斐') 關於梅斐
				li
					a(href='#', title='產品介紹') 產品介紹
					ul
						li
							a(href='tw/lighting.html', title='燈具') 燈具
						li
							a(href='tw/furniture.html', title='傢俱') 傢俱
						li.last-nav
							a(href='tw/lifestyle.html', title='生活精品') 生活精品
				li
					a(href='tw/contact.html', title='聯絡我們') 聯絡我們
				li
					a(href='index.html', title='返回首頁') 返回首頁
				li
					a(href='#', title='網站語系') 網站語系
					ul 
						li
							a(href='index.html', title='中文') 中文
						li.last-nav
							a(href='index-en.html', title='英文') En
			a.lightbox-close(href='#')
		= '\n'

		//- script區塊
		script.
			document.documentElement.classList.remove("no-js");
		script(src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js")
		script(src="https://cdn.jsdelivr.net/npm/jquery-migrate/dist/jquery-migrate.min.js")
		script(src="https://cdn.jsdelivr.net/npm/loadjs/dist/loadjs.umd.min.js")
		script(src="script/index.js")
		script(src="https://instant.page/5.1.0")
		script(type='application/ld+json').
			{
			"@context" : "https://schema.org",
			"@type" : "Organization",
			"name" : "梅斐國際有限公司 Mayfaire International Co., Ltd.",
			"url" : "https://www.mayfaire.com.tw/"
			"contactPoint" : [ {
			"@type" : "ContactPoint",
			"telephone" : "+886-2-2891-5451",
			"contactType" : "customer service" } ]
			}
= '\n'

//
	Created By
			##############               ###############   
				##############             ###############    
				##############             ##############     
				##############           ##############      
					##############          #############       
					#############         ##############       
						#############       ##############        
						##############      #############         
						###############################          
						###############################          
						#################################         
						##############     ##############         
					##############       ##############        
					##############        ##############       
					##############         #######           
				###############          ##############      
				##############           ###############     
				######      
				##############              ##############    
			##############               ##############
							
										xuedesign studio 
								https://www.xuedesign.tw/